<div class="pt-3">
  <app-star>
    contact section
    <div class="line me-3" leftline></div>
    <div class="line ms-3" rightline></div>
  </app-star>
  <div class="mb-4">
    <form action="" class="w-50 p-3 mx-auto mt-5">
      <div class="form-floating my-4">
        <input type="text" class="form-control border-0 border-bottom" id="floatingInput" placeholder="Username">
        <label for="floatingInput">userName</label>
      </div>
      <div class="form-floating mb-5">
        <input type="text" class="form-control border-0 border-bottom" id="floatingInput2" placeholder="Password">
        <label for="floatingInput2">userAge</label>
      </div>
      <div class="form-floating mb-5">
        <input type="email" class="form-control border-0 border-bottom" id="floatingInput3" placeholder="name@example.com">
        <label for="floatingInput3">userEmail</label>
      </div>
      <div class="form-floating mb-4">
        <input type="password" class="form-control border-0 border-bottom" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">userPassword</label>
      </div>
      <button class="btn btn-success border-0" type="button">Send Message</button>
    </form>
  </div>
</div>
